<h1>Welcome to the JR Test Suite!</h1>
<p>
  <a href="/user/index">Run demo...</a>
</p>
<hr>
<p>
  <a href="/test/index">Run standalone jasmine tests...</a>
</p>
<!-- <p>
  <a href="/test/stress">Run a stress testing node...</a>
</p> -->

