<%= form_for(@secret_model) do |f| %>
  <% if @secret_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret_model.errors.count, "error") %> prohibited this secret_model from being saved:</h2>

      <ul>
      <% @secret_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
