<!DOCTYPE html>
<html>
<head>
  <title>Jr Test Suite</title>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
